@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h2>After confirming your email, please create a password on the login page</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
